@media ( max-width: 930px) {
    .up-nav{
        display: none;
    }
    .nav img{
        margin-left: 30px;
    }
    .nav-middle  a{
        display: none;
    }
    .nav-end  a{
        display: none;
    }
    .nav-options i{
        color: rgba(255, 235, 205, 0.836);
        margin-right: 20px;

    }
}